<%= form_for :import, url: import_path do |f|%>
  <div class="form-group">
    <%= f.label :source, class: 'control-label' %>
    <%= f.select :source, @sources, {}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :resource, class: 'control-label' %>
    <%= f.select :resource, [], {}, { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.label :base_path, class: 'control-label' %>
    <%= f.text_field :base_path, class: 'form-control' %>
  </div>
  <%= f.submit 'Import', class: 'btn btn-primary' %>
<% end %>
