<script>
 $(function () {
   const $sources = $('#import_source')
   const $files = $('#import_resource')
   const $fileContents = $('#file_contents')

   $sources.on('change', function () {
     const source = $sources.val()

     $.ajax('<%= import_files_path %>', {
       type: 'get',
       data: { file: { type: source } },
       success: function (response) {
         $files.empty()

         response.map(function (file) {
           const $option = $('<option />').attr('value', file)
                                          .text(file)
           $files.append($option)
         })

         $files.change()
       }
     })
   }).change()

   $files.on('change', function () {
     const type = $sources.val()
     const name = $files.val()

     if (name === null) {
       return
     }

     $.ajax('<%= import_file_path %>', {
       type: 'get',
       data: { file: { type: type, name: name }},
       success: function (response) {
         $fileContents.html(response.contents)
       }
     })
   }).change()
 })
</script>
