<div class="row">
  <div class="col">
    <div class="row">
      <div class="col-md-4">
        <h3>Import</h3>
        <%= render 'form' %>
      </div>
      <div class="col-md-8">
        <h3>File preview</h3>
        <div class="contents-container highlight solarized-dark" id="file_contents">
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for(:inline_javascript) do %>
  <%= render 'script' %>
<% end %>
