<div class="row">
  <div class="col">
    <% if @units.empty? %>
      <div class="text-center">
        <h4>There are no units yet</h4>
        <p>Go to the import page and import some files.</p>
        <%= link_to 'Go to import', import_path, class: 'btn btn-primary btn-lg' %>
      </div>
    <% else %>
      <div class="table-responsive table-fixed-header">
        <table class="table table-bordered table-striped table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Description</th>
              <th scope="col">Area</th>
              <th scope="col">UOM</th>
            </tr>
          </thead>
          <tbody>
            <%= render @units %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>
