/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap";
@import "rouge";

body {
    padding-top: 66px;
}

.contents-container {
    max-height: 300px;
    padding: 16px 8px;
    border: 1px solid lightgray;
    overflow-y: auto;
    border-radius: 5px;
}

.table-fixed-header {
    overflow-y: auto;
    height: 500px;
    border: 1px solid lightgray;

    .table {
        margin-bottom: 0;
    }

    th {
        position: sticky;
        top: 0;
    }
}
