<% flash.each do |type, message| %>
  <div class="row">
    <div class="col">
      <div class="alert alert-<%= type %> alert-dismissable fade show" role="alert">
        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= message %>
      </div>
    </div>
  </div>
<% end %>
