<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="main-menu" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Import', import_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Clean units', clean_path, class: 'nav-link', method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    </ul>
  </div>
</nav>
