<!DOCTYPE html>
<html>
  <head>
    <title>EtlStarterApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/menu' %>
    <div class="container">
      <main role="main">
        <%= render 'layouts/flash_messages' %>
        <%= yield %>
      </main>
    </div>
    <%= content_for(:inline_javascript) if content_for?(:inline_javascript) %>
  </body>
</html>
